# See https://help.github.com/ignore-files/ for more about ignoring files.


# testing
/coverage

# production
/build


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

Matilde\Properties\launchSettings.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*

bin/
obj/

*.suo
packages/
TestResults/
PrecompiledWeb/
.vs/
!lib/*.dll
*.swp
*.user
*~
.idea/
npm-debug.log